* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

button {
  background-color: #fff;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Inter";
  line-height: 120%;
  background: #F3F3F3;
}

.scrollNone {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content {
  margin: 0 auto;
  max-width: 1220px;
  padding-left: 50px;
  padding-right: 50px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.btn {
  background: #FFCD00;
  border-radius: 6px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #1C1C1C;
  white-space: nowrap;
}

.header__link-drop-down {
  cursor: pointer;
}

.img-adaptive {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.message__fixed {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #FFCD00;
  position: fixed;
  right: 50px;
  bottom: 50px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 999;
}

.message__fixed img {
  width: 40px;
  padding-top: 10%;
}

h2 {
  font-weight: 700;
  line-height: 120%;
  font-size: 42px;
  margin-bottom: 40px;
}

.modal__wr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 999;
  cursor: pointer;
}

.modal__body {
  background: #F3F3F3;
  border-radius: 15px;
  width: 100%;
  max-width: 1054px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-transform: perspective(600px) translate(0px, -400%) rotateX(110deg);
          transform: perspective(600px) translate(0px, -400%) rotateX(110deg);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.modal__body h6 {
  text-align: center;
  width: 100%;
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.modal__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.modal__net-item {
  background: #FFFFFC;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.modal__net-item img {
  width: 60px;
  margin-bottom: 20px;
}

.modal__net-item p {
  font-weight: 600;
  color: #1C1C1C;
  font-size: 24px;
}

.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  max-width: 41px;
  padding: 10px;
  cursor: pointer;
}

.modal__wr.active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  pointer-events: all;
}

.modal__wr.active .modal__body {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.work {
  padding-top: 150px;
}

.header__burger {
  display: none;
}

.burger__open {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: absolute;
  padding-top: 40px;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.burger__open-active {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.burger__open-btn-item {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 500;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 24px 0;
  color: #1C1C1C;
  font-weight: 500;
}

.header__scroll {
  padding: 15px 0;
  background-color: #fff;
}

.header__logo {
  color: #1C1C1C;
  font-weight: 700;
  line-height: 120%;
  font-size: 23px;
  text-transform: uppercase;
  margin-right: 36px;
}

.header__list-desc {
  gap: 36px;
  font-size: 14px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 15px;
}

.header__link-item img {
  width: 8px;
  margin-left: 8px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__link-drop-down {
  position: relative;
  cursor: pointer;
}

.header__drop-down-body {
  min-width: 120px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: #fff;
}

.header__drop-down-body li {
  width: 100%;
  padding: 6px 15px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__drop-down-body.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.header__drop-down-space {
  height: 10px;
  width: 100%;
}

.header__drop-down-wr {
  border: 1px solid #FFCD00;
  border-radius: 5px;
}

.header__btn {
  padding: 14px 30px;
  font-size: 14px;
  font-weight: 500;
}

.header__language {
  margin-left: 24px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__language img {
  width: 20px;
}

.header__language p {
  margin-left: 4px;
  text-transform: uppercase;
}

.link-hover {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.burger__list-body {
  margin-top: 10px;
  display: none;
}

.burger__list-body li {
  font-size: 18px;
}

.burger__list-opened img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.rotate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.burger__list-body.active {
  display: block;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.initial {
  padding-top: 310px;
  padding-bottom: 270px;
  position: relative;
  color: #000;
}

.initial__body {
  position: relative;
  z-index: 3;
}

.initial__bg-color {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 219, 128, 0.32);
  position: absolute;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  top: 0;
  left: 0;
  z-index: 2;
}

@supports not ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
  .initial__bg-color {
    background: rgba(130, 118, 88, 0.612);
  }
}

.initial__body-text {
  text-align: center;
  max-width: 580px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 24px;
  font-weight: 700;
  font-size: 18px;
}

.initial__body-text li {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.initial__body-net {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr 0.25fr 0.15fr;
  grid-template-columns: 0.6fr 0.25fr 0.15fr;
}

.initial__search-main {
  font-size: 16px;
  border-right: 2px solid rgba(0, 0, 0, 0.67);
  padding: 27px;
}

.initial__search-main img {
  margin-right: 17px;
}

.initial__search-city {
  border-right: 2px solid rgba(0, 0, 0, 0.67);
  padding-left: 6%;
  padding-right: 6%;
}

.initial__search-button {
  background-color: transparent;
  padding: 27px;
}

.initial__search-button img {
  margin-left: 18px;
}

.initial__city-left {
  font-size: 16px;
}

.initial__city-left img {
  margin-right: 16px;
}

.services {
  padding-top: 150px;
  padding-bottom: 150px;
}

.services__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 45px;
}

.services__net-item {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  padding-top: 35px;
}

.services__net-item img {
  margin-bottom: 16px;
  width: 60px;
}

.services__net-item h3 {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}

.services__net-item p {
  padding-right: 10%;
  color: #1C1C1C;
  opacity: 0.8;
}

.board {
  padding-bottom: 150px;
}

.content .info .hide {
  display: none;
}

.content .info .show {
  display: block;
}

.board__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 40px;
  margin-bottom: 40px;
}

.board__nav-item {
  width: 100%;
  display: block;
  background-color: #fff;
  border-radius: 10px;
  padding: 16px 0;
  font-size: 20px;
}

.board__nav-item.active {
  background-color: #FFCD00;
}

.card__more-location img {
  margin-right: 8px;
  width: 12px;
}

.card {
  background: #FFFFFC;
  border-radius: 15px;
  overflow: hidden;
  display: block;
}

.card__main-img {
  position: relative;
  width: 100%;
  height: inherit;
  height: 220px;
}

.card__text {
  margin-top: 30px;
  margin: 30px;
}

.card__text h4 {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
}

.card__text p {
  opacity: 0.65;
  font-size: 16px;
  line-height: 135%;
  margin-bottom: 14px;
}

.slider__navigation-next,
.slider__navigation-prev,
.blog__navigation-prev,
.blog__navigation-next {
  padding: 10px;
  cursor: pointer;
}

.slider__navigation-next,
.blog__navigation-next {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.swiper__navigation-pagination,
.blog__navigation-pagination {
  margin-left: 30px;
  margin-right: 30px;
}

.slider__navigation {
  margin-top: 45px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 3px;
  background: #1C1C1C;
  border-radius: 2px;
}

.swiper-pagination-bullet-active {
  width: 52px;
}

.swiper__navigation-pagination {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  padding-bottom: 9px;
}

.addNote {
  margin-bottom: 150px;
  background-color: #fff;
}

.addNote__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 0.4fr 0.3fr;
  grid-template-columns: 0.3fr 0.4fr 0.3fr;
  place-items: center;
}

.addNote__net-button {
  padding-left: 8%;
  padding-right: 8%;
  width: 100%;
}

.addNote__net-button button {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
}

.addNote__net-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.addNote__net-item img {
  height: 100%;
}

.blog {
  padding-bottom: 150px;
}

.blog__slider {
  overflow: hidden;
}

.work__bread-crumbs {
  font-size: 14px;
  margin-bottom: 30px;
}

.work__bread-crumbs img {
  width: 10px;
  margin: 0 5px;
}

.work__bread-crumbs a {
  opacity: 0.5;
}

.work__bread-crumbs p {
  font-weight: 500;
}

.work__nav {
  margin-bottom: 40px;
}

.work-tab.active {
  background: #FFCD00;
}

.work__tabs-wr {
  margin-bottom: 13px;
}

.work-tab,
.work__resume {
  padding: 20px 40px;
  border-radius: 10px;
}

.drop-down__arrow {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 12px;
}

.work__current-category,
.work__current-city {
  position: relative;
}

.work__current-category,
.work__current-city,
.work__open-filters {
  background-color: #fff;
  border-radius: 10px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  min-width: 100%;
}

.work__current-category.active,
.work__current-city.active {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #E6E6E6;
}

.work__current-category.active .current-city__label img,
.work__current-category.active .current-category__label img,
.work__current-city.active .current-city__label img,
.work__current-city.active .current-category__label img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.current-city__label,
.current-category__label {
  padding: 20px 24px;
}

.current-city__label img,
.current-category__label img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-left: 7px;
}

.current-city__body,
.current-category__body {
  border-radius: 0 0 10px 10px;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  z-index: 2;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding-top: 10px;
  padding-bottom: 10px;
}

.current-city__body li,
.current-category__body li {
  padding: 10px 24px;
  opacity: 0.65;
}

.current-city__body.active,
.current-category__body.active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

.current-category__body {
  z-index: 3;
}

.work__filters {
  display: -ms-grid;
  display: grid;
  gap: 12px;
  -ms-grid-columns: 0.5fr 0.3fr 0.2fr;
  grid-template-columns: 0.5fr 0.3fr 0.2fr;
}

.work__open-filters {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 20px 24px;
}

.work__open-filters img {
  margin-right: 16px;
}

.work__resume-mobile {
  display: none;
  margin-top: 20px;
}

.work__resume-desc {
  display: block;
}

.work__tabs {
  gap: 12px;
}

.work__net,
.work__pagination,
.work__subfooter,
.work__subfooter-wr:not(:last-child) {
  margin-bottom: 60px;
}

.work__subfooter h4 {
  margin-bottom: 16px;
  font-weight: 600;
  color: #000;
  line-height: 120%;
  font-size: 24px;
}

.work__subfooter p {
  font-size: 16px;
  opacity: 0.8;
  line-height: 130%;
}

.work__net-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 0.7fr;
  grid-template-columns: 0.3fr 0.7fr;
  background: #FFFFFC;
  border-radius: 15px;
}

.work__net-item:not(:last-child) {
  margin-bottom: 20px;
}

.work__card-main-img {
  height: 100%;
  position: relative;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  width: 100%;
}

.work__card-text {
  padding: 30px;
}

.work__cardr-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

.work__card-p {
  margin-bottom: 10px;
  opacity: 0.65;
  color: #000;
  font-size: 16px;
  line-height: 125%;
}

.card__info {
  opacity: 0.8;
  font-size: 16px;
}

.card__info-city {
  margin-right: 12px;
}

.card__info-city img {
  margin-right: 6px;
}

footer {
  background: #2B2B2B;
  font-family: "Poppins";
}

footer .header__logo {
  font-family: "Inter";
  color: #fff;
}

footer h5 {
  font-weight: 700;
  color: #FFFFFF;
  line-height: 150%;
  font-size: 18px;
}

footer a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer {
  padding-top: 90px;
  padding-bottom: 50px;
  border-bottom: 1px solid #333F51;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 38px;
}

.footer__bottom {
  padding-top: 40px;
  font-size: 14px;
  color: #8896AB;
  font-weight: 500;
  padding-bottom: 70px;
}

.footer__p {
  padding-top: 20px;
  color: #C0CEE2;
  font-weight: 500;
  line-height: 156%;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.footer__section li:not(:last-child) {
  margin-bottom: 16px;
}

.footer__section li {
  color: #8896AB;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__form-wr h5 {
  margin-bottom: 20px;
}

.footer__form-wr input {
  height: 46px;
  padding: 11px 14px;
}

.footer__form-wr input::-webkit-input-placeholder {
  color: #2A3342;
}

.footer__form-wr input::-moz-placeholder {
  color: #2A3342;
}

.footer__form-wr input:-ms-input-placeholder {
  color: #2A3342;
}

.footer__form-wr input::-ms-input-placeholder {
  color: #2A3342;
}

.footer__form-wr input::placeholder {
  color: #2A3342;
}

.footer__form {
  width: 100%;
  gap: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 0.3fr;
  grid-template-columns: 0.7fr 0.3fr;
}

.footer__form input {
  display: block;
  max-width: 100%;
  width: 100%;
}

.footer__form button {
  width: 100%;
  height: 46px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
          box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  font-weight: 500;
}

.footer__lists {
  padding-left: 5%;
  padding-right: 5%;
}

@media (max-width: 1260px) {
  .content {
    padding-left: calc(15px + 35 * ((100vw - 320px) / 1260));
  }

  .content {
    padding-right: calc(15px + 35 * ((100vw - 320px) / 1260));
  }

  .message__fixed {
    width: calc(72px + 28 * ((100vw - 320px) / 1260));
  }

  .message__fixed {
    height: calc(72px + 28 * ((100vw - 320px) / 1260));
  }

  .message__fixed {
    right: calc(15px + 35 * ((100vw - 320px) / 1260));
  }

  .message__fixed {
    bottom: calc(15px + 35 * ((100vw - 320px) / 1260));
  }

  h2 {
    font-size: calc(26px + 16 * ((100vw - 320px) / 1260));
  }

  h2 {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1260));
  }

  .modal__body {
    margin-left: calc(15px + 35 * ((100vw - 320px) / 1260));
  }

  .modal__body {
    margin-right: calc(15px + 35 * ((100vw - 320px) / 1260));
  }

  .modal__body {
    padding-top: calc(16px + 34 * ((100vw - 320px) / 1260));
  }

  .modal__body {
    padding-bottom: calc(36px + 14 * ((100vw - 320px) / 1260));
  }

  .modal__body {
    padding-left: calc(16px + 34 * ((100vw - 320px) / 1260));
  }

  .modal__body {
    padding-right: calc(16px + 34 * ((100vw - 320px) / 1260));
  }

  .modal__body h6 {
    margin-bottom: calc(20px + 25 * ((100vw - 320px) / 1260));
  }

  .modal__body h6 {
    font-size: calc(18px + 22 * ((100vw - 320px) / 1260));
  }

  .modal__net {
    gap: calc(10px + 14 * ((100vw - 320px) / 1260));
  }

  .modal__net-item p {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1260));
  }

  .modal__close {
    top: calc(8px + 22 * ((100vw - 320px) / 1260));
  }

  .modal__close {
    right: calc(8px + 22 * ((100vw - 320px) / 1260));
  }

  .work {
    padding-top: calc(120px + 30 * ((100vw - 320px) / 1260));
  }

  .header__list-desc {
    gap: calc(20px + 16 * ((100vw - 320px) / 1260));
  }

  .initial {
    padding-top: calc(200px + 110 * ((100vw - 320px) / 1260));
  }

  .initial {
    padding-bottom: calc(100px + 170 * ((100vw - 320px) / 1260));
  }

  .initial__body-text {
    gap: calc(32px + -20 * ((100vw - 320px) / 1260));
  }

  .initial__body-text {
    margin-top: calc(36px + -12 * ((100vw - 320px) / 1260));
  }

  .initial__body-text {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1260));
  }

  .initial__search-main img {
    margin-right: calc(24px + -7 * ((100vw - 320px) / 1260));
  }

  .initial__city-left {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1260));
  }

  .services {
    padding-top: calc(80px + 70 * ((100vw - 320px) / 1260));
  }

  .services {
    padding-bottom: calc(80px + 70 * ((100vw - 320px) / 1260));
  }

  .services__net {
    gap: calc(20px + 25 * ((100vw - 320px) / 1260));
  }

  .services__net-item {
    padding: calc(16px + 14 * ((100vw - 320px) / 1260));
  }

  .services__net-item {
    padding-top: calc(20px + 15 * ((100vw - 320px) / 1260));
  }

  .services__net-item img {
    margin-bottom: calc(8px + 8 * ((100vw - 320px) / 1260));
  }

  .services__net-item img {
    width: calc(40px + 20 * ((100vw - 320px) / 1260));
  }

  .services__net-item h3 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1260));
  }

  .board {
    padding-bottom: calc(80px + 70 * ((100vw - 320px) / 1260));
  }

  .board__nav {
    gap: calc(16px + 24 * ((100vw - 320px) / 1260));
  }

  .board__nav-item {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1260));
  }

  .card__text {
    margin: calc(16px + 14 * ((100vw - 320px) / 1260));
  }

  .card__text h4 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1260));
  }

  .swiper__navigation-pagination,
  .blog__navigation-pagination {
    margin-left: calc(0px + 30 * ((100vw - 320px) / 1260));
  }

  .swiper__navigation-pagination,
  .blog__navigation-pagination {
    margin-right: calc(0px + 30 * ((100vw - 320px) / 1260));
  }

  .slider__navigation {
    margin-top: calc(30px + 15 * ((100vw - 320px) / 1260));
  }

  .swiper-pagination-bullet {
    width: calc(16px + 4 * ((100vw - 320px) / 1260));
  }

  .swiper-pagination-bullet-active {
    width: calc(25px + 27 * ((100vw - 320px) / 1260));
  }

  .addNote {
    margin-bottom: calc(80px + 70 * ((100vw - 320px) / 1260));
  }

  .addNote__net-button button {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1260));
  }

  .blog {
    padding-bottom: calc(80px + 70 * ((100vw - 320px) / 1260));
  }

  .work__tabs-wr {
    margin-bottom: calc(20px + -7 * ((100vw - 320px) / 1260));
  }

  .work__net,
  .work__pagination,
  .work__subfooter,
  .work__subfooter-wr:not(:last-child) {
    margin-bottom: calc(40px + 20 * ((100vw - 320px) / 1260));
  }

  .work__subfooter h4 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1260));
  }

  .work__subfooter p {
    font-size: calc(12px + 4 * ((100vw - 320px) / 1260));
  }

  .work__card-text {
    padding: calc(16px + 14 * ((100vw - 320px) / 1260));
  }

  .work__cardr-title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1260));
  }

  .work__card-p {
    font-size: calc(13px + 3 * ((100vw - 320px) / 1260));
  }

  .card__info {
    font-size: calc(13px + 3 * ((100vw - 320px) / 1260));
  }

  .footer {
    padding-top: calc(30px + 60 * ((100vw - 320px) / 1260));
  }

  .footer {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1260));
  }

  .footer {
    gap: calc(20px + 18 * ((100vw - 320px) / 1260));
  }

  .footer__bottom {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 1260));
  }

  .footer__bottom {
    padding-bottom: calc(35px + 35 * ((100vw - 320px) / 1260));
  }

  .footer__p {
    padding-top: calc(5px + 15 * ((100vw - 320px) / 1260));
  }

  .footer__p {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1260));
  }

  .footer__form-wr h5 {
    margin-bottom: calc(8px + 12 * ((100vw - 320px) / 1260));
  }
}

@media (max-width: 992px) {
  .header__btn {
    display: none;
  }

  .footer {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px 20px;
  }

  .footer__lists {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 768px) {
  .burger__open {
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    overflow: auto;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .burger__open li {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .modal__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .header__burger {
    margin-left: 24px;
    z-index: 9000;
    position: relative;
    display: block;
    width: 48px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48px;
            flex: 0 0 48px;
    height: 20px;
    position: relative;
  }

  .header__burger:after {
    content: "";
    display: block;
    background-color: #000;
    border-radius: 50px;
    width: 48px;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger:before {
    content: "";
    display: block;
    background-color: #000;
    border-radius: 50px;
    width: 48px;
    height: 1px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger span:after {
    content: "";
    display: block;
    background-color: #000;
    border-radius: 50px;
    width: 48px;
    height: 1px;
    position: absolute;
    top: 100%;
    right: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close:after {
    content: "";
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    -webkit-transform: translate(50%, 50%) rotate(-45deg);
        -ms-transform: translate(50%, 50%) rotate(-45deg);
            transform: translate(50%, 50%) rotate(-45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close:before {
    content: "";
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%) rotate(45deg);
        -ms-transform: translate(50%, 50%) rotate(45deg);
            transform: translate(50%, 50%) rotate(45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .burger__open-btn-item {
    display: inline-block;
  }

  .header__list-desc {
    display: none;
  }

  .services__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .addNote__net {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .addNote__net-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 16px 0;
  }

  .addNote__net-button button {
    max-width: 190px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .addNote__net-left {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    padding-right: 30%;
  }

  .addNote__net-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    padding-left: 30%;
  }

  .work__filters {
    -ms-grid-columns: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 20px;
  }

  .work__net-item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 0 auto;
  }

  .work__card-main-img {
    height: 220px;
    border-radius: 15px 15px 0 0;
  }

  .footer__lists {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  .addNote__net-button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 600px) {
  .message__fixed img {
    width: 32px;
  }

  .header__burger {
    margin-left: 16px;
  }

  .initial__search-main {
    font-size: 14px;
  }

  .services__net-item p {
    font-size: 14px;
  }

  .board__nav {
    margin-bottom: 40px;
  }

  .card__text p {
    font-size: 14px;
  }

  .work-tab,
  .work__resume {
    font-size: 14px;
  }

  .work__filters {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .work__resume-mobile {
    display: block;
  }

  .work__resume-desc {
    display: none;
  }

  .work__tabs {
    width: 100%;
    gap: 20px;
  }

  .work-tab {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  footer h5 {
    font-size: 16px;
  }

  .footer {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__section li {
    font-size: 14px;
  }

  .footer__lists {
    padding-left: 0;
    padding-right: 0;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .current-city__label,
  .current-category__label {
    padding: 16px 20px;
  }

  .current-city__body li,
  .current-category__body li {
    padding: 8px 20px;
  }

  .work__open-filters {
    padding: 16px 20px;
  }
}

@media (max-width: 420px) {
  .footer__form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background: #eecf53;
  }

  .message__fixed:hover {
    background: #eecf53;
  }

  .modal__net-item:hover {
    -webkit-transform: translateY(-16px);
        -ms-transform: translateY(-16px);
            transform: translateY(-16px);
  }

  .header__drop-down-body li:hover {
    background-color: #FFCD00;
  }

  .header__language:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .link-hover:hover {
    color: rgb(97, 96, 96);
  }

  .initial__body-text li:hover {
    color: rgba(21, 20, 20, 0.8392156863);
  }

  .current-city__body li:hover,
  .current-category__body li:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: rgb(231, 226, 226);
  }

  .work__open-filters:hover {
    background-color: rgb(231, 226, 226);
  }

  footer a:hover {
    color: #fff;
  }
}